{% extends 'layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block base %}
    <div class="container text-center my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <img src="static/main/img/main_pic.png" alt="Главное изображение" class="img-fluid rounded-pill mb-4">
                <h1>Избавьтесь от долгов навсегда</h1>
                <p class="lead">Сделайте это легко и весело с Долговой Ямой</p>
                <div>
                    <a href="/accounts/registration" class="btn btn-custom btn-lg me-2">Начать</a>
                    <a href="{% url 'about' %}" class="btn btn-outline-light btn-lg">Узнать больше</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
