{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block base %}
    <div class="container my-5">
        <h1 class="text-center mb-4">О проекте</h1>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <p class="fs-5">Проект "Долговая яма" был создан для помощи людям, оказавшимся в сложной финансовой ситуации. Мы понимаем, что управление долгами может быть трудным и стрессовым процессом, поэтому наша цель - предоставить вам инструменты для эффективного выхода из долгов.</p>
                <h2>Наша миссия</h2>
                <p class="fs-5">В рамках дисциплины АДПО мы стремимся создать веб-приложение, помогающее пользователям контролировать свои расходы, связанные с задолженностями.</p>
                <h2>Наша команда</h2>
                <p class="fs-5">Руководитель - Чегодаев Алексей, Фронтэнд - Едисеев Олег, Бекэнд - Самойлов Даниил</p>
                <h2>Контакты</h2>
                <p class="fs-5">Если у вас есть вопросы или вам нужна помощь, пожалуйста, свяжитесь с нами:</p>
                <ul class="fs-5">
                    <li>telegram: @Aluhug</li>
                    <li>еmail: support@dolgovayama.com</li>
                    <li>Телефон: +7 (123) 456-78-90</li>
                    <li>Адрес: ул. Пушкина, д. Колотушкина, Москва, Россия</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}